<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <title>My Tech Wish List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </head>

<body ng-controller="MainController">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-sm-4" ng-repeat="contact in contacts">
                <contact-card person="contact"></contact-card>
            </div>
            <div class="col-sm-4" ng-repeat="item in items">
                <mytechwishlist item="Item"></mytechwishlist>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="app.js"></script>
</body>

</html>