<center>
 <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> Business Class
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> Personal/Individual 
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> City Welcome 
</label>


<h2>Add To Product Inventory</h2>
        <p><label>Delete</label><input type="text" placeholder="Product Name" ng-model="newOrder.Name"></p>
        <p><label>Vendor</label>
        <input type="text" placeholder="Vendor" ng-model="newOrder.Vendor"></p>
        <p><label>Product Name</label><input type="number" placeholder="Number" ng-model="newOrder.Number"></p>
        
        <br>
        <h4> - Type - </h4>
        <p><label>Corporate</label><input type="checkbox" ng-model="newOrder.ordertype"/></p>
        <p><label>City Guide</label><input type="checkbox" ng-model="newOrder.ordertype"/></p>
        <p><label>Personal</label><input type="checkbox" ng-model="newOrder.ordertype"/></p>
        
        
        <p><label>Cost:</label><input type="number" ng-model="newOrder.amount" placeholder="Value" /></p><p><label>Sell Price:</label><input type="number" ng-model="newOrder.amount" placeholder="Value" /></p>
        <p><label>Description</label><input type="text" ng-model="newOrder.description" placeholder="description"/><p>
        <p><label>Image Url: </label><input type="text" ng-model="newOrder.type" placeholder="Image" /></p>
</center>