.background {
    background-image: url("http://66.media.tumblr.com/aea632abb938aeec5c7cf8b538b484ba/tumblr_ntydnj2zbf1ty0vw2o1_1280.png");
}

#h1 {
    font-family: fantasy;
    font-kerning: auto;
    color: lightgray;
    padding: 5px;
    text-shadow: 3px 2px 2px black;
}

h3 {
    background-color: whitesmoke;
    display: inline-table;
}

form {
    padding-right: 270px;
    padding-top: 110px;
}

#body {
    padding-right: 250px;
}